/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  border-bottom: 1rem solid #087f5b;
}

.container {
  max-width: 96rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

header,
section {
  margin-bottom: 4.8rem;
}

h2 {
  font-size: 3.6rem;
  letter-spacing: -0.2px;
  margin-bottom: 4.8rem;
  color: #343a40;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8rem;
}
.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #087f5b;
  color: #fff;
  border-radius: 3px;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #099268;
}
.btn--large {
  font-size: 1.8rem;
  padding: 1.5rem 3rem;
}
.btn--small {
  font-size: 1.4rem;
  padding: 1rem 2rem;
}
/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
  margin-top: 4.8rem;
  padding: 6.4rem 0;
}
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
.header-text-box {
  align-self: center;
}

h1 {
  font-size: 4.8rem;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-bottom: 2.4rem;
  color: #343a40;
}

.header-text {
  font-size: 1.8rem;
  line-height: 1.7;
  margin-bottom: 2.4rem;
  color: #495057;
}

img {
  width: 100%;
  border-radius: 9px;
}

/* FEATURES */
.features {
  padding: 6.4rem 0;
}
.feature__icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #087f5b;
  margin-bottom: 2.4rem;
}
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
.features-title {
  font-size: 2.2rem;
  margin-bottom: 1.6rem;
  color: #343a40;
}

.features-text {
  font-size: 1.8rem;
  line-height: 1.7;
  color: #495057;
}

/* TESTIMONIAL */
.testimonial-section {
  background-color: #087f5b;
  padding: 4.8rem;
  border-radius: 9px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
}
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  margin-bottom: 2.4rem;
  font-size: 2.2rem;
  color: #fff;
}

.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.7;
  font-style: italic;
  margin-bottom: 2.4rem;
  color: #f8f9fa;
}
.testimonial-author {
  color: #c3fae8;
}

/* CHAIRS */
.best-selling {
  padding: 6.4rem 0;
}
.chair-box {
  padding: 2.4rem;
}
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
h3 {
  font-size: 2rem;
  margin-bottom: 2.4rem;
  color: #343a40;
}
.chair-details {
  list-style: none;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}
.chair {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.chair:hover {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
  transform: translateY(-1rem);
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
  color: #495057;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.product__icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #087f5b;
}

.chair-price {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #343a40;
}

footer {
  margin-bottom: 4.8rem;
  color: #495057;
  text-align: center;
}

/* Responsive Design Rules */
@media only screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 800px) {
  /* HEADER */
  header {
    grid-template-columns: 1fr;
    row-gap: 8rem;
    justify-items: center;
    text-align: center;
  }
  header img {
    width: 70%;
  }
  .grid-3-cols {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 6rem;
  }
  .testi-img {
    width: 100%;
  }
  .testimonial-box {
    grid-column: 1 / -1;
    align-self: center;
  }
  .features {
    text-align: center;
  }
  .features__feature {
    width: 70%;
  }
  .chair {
    width: 70%;
  }
}
